@import url('https://fonts.googleapis.com/css?family=Pacifico|Rancho');

body{
  background: url("../assets/homebg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.oth-logo {
  background: url("../assets/oth_text3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
  display: flex;
  width: 50%;
  height: 100%;
}

.oth-rules{
  margin: 20px;
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  color: white;
  font-family: Rancho;
  font-size: 24px;
}